

.work-sans-
{
 font-family: "Work Sans", serif;
 font-optical-sizing: auto;
 font-weight: normal;
 font-style: normal;
 }

.image{
    width: 65px;
    height: 65px;
    padding-right: 10px;
}
.titlee{
    width: 130px;
    height: 30px;
    font-size: 25px;
}
 .navbar{
    margin-top: 50px;
   margin-right: 100px;
   margin-left: 100px;
   
 }
  
 .flex {
    display: flex;
    margin-top: 50px;
    

 }
 .nav-link{
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
    font-size: 15px;
    
 
    
 }
 
 
    
    
 
 .nav-link-1{
    padding-right: 30px;
    text-decoration: none;
    color: #FEA301;
    
    
    

 }
 .nav-link-2{
    padding-right: 30px;
    text-decoration: none;
    color: #01ACFD;


 }
 .nav-link-3{
    padding-right: 30px;
    text-decoration: none;
    color: #05D4DF;

 }
 .nav-link-4{
    padding-right: 30px;
    text-decoration: none;
    color: #5D58EF;

 }
 .btn-primary{
    margin-top: 15px;
    width:200px;
    height: 40px;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 10px;
    
 }

.banner{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.bannr{
    margin-top: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 22px;
}
.color{
    color: #FEA301;
}
.color2{
    color: #01ACFD;
}
.banner-description{
    
}
.btn-2{
    color: white;
    background-color: black;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.imgee{
    width: 400px;
    height: 500px;
    margin-top: 50px;
    padding-left: 500px;
}
 
 


