

.work-sans-
{
 font-family: "Work Sans", serif;
 font-optical-sizing: auto;
 font-weight: normal;
 font-style: normal;
 }

.image{
    width: 65px;
    height: 65px;
    padding-right: 10px;
}
.titlee{
    width: 130px;
    height: 30px;
    font-size: 25px;
}
 .navbar{
    margin-top: 50px;
   margin-right: 100px;
   margin-left: 100px;
   
 }
  
 .flex {
    display: flex;
    margin-top: 50px;
    

 }
 .nav-link{
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
    font-size: 15px;
    
 
    
 }
 
 
    
    
 
 .nav-link-1{
    padding-right: 30px;
    text-decoration: none;
    color: #FEA301;
    
    
    

 }
 .nav-link-2{
    padding-right: 30px;
    text-decoration: none;
    color: #01ACFD;


 }
 .nav-link-3{
    padding-right: 30px;
    text-decoration: none;
    color: #05D4DF;

 }
 .nav-link-4{
    padding-right: 30px;
    text-decoration: none;
    color: #5D58EF;

 }
 .btn-primary{
    margin-top: 15px;
    width:200px;
    height: 40px;
    color: white;
    background-color: #FEA301;
    border: none;
    border-radius: 10px;
    
 }

.banner{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.bannr{
    margin-top: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 22px;
}
.color{
    color: #FEA301;
}
.color2{
    color: #01ACFD;
}
.banner-description {
    
}
.btn-2{
    color: white;
    background-color: black;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.imgee{
    width: 400px;
    height: 500px;
    margin-top: 50px;
    padding-left: 500px;
}
 
.banr-ttl{
    width: 450px;
    height: 60px;
    font-size: 3rem;
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-weight: bolder;
    
}
.curriculm-descrip{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    column-gap: 25px;
    
}
 
.kinder{
    width: 370px;
    height: 475px;
    margin-left: 100px;
    padding-right: 50px;
}

.elementary{
    width: 370px;
    height: 475px;
    padding-right: 50px;

}
 .middle{
    width: 370px;
    height: 475px;
    margin-right: 100px;

 }
 .head{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
.descr{
    font-size: 15px;
    color: #808080;
    margin-top: 50px;
    margin-bottom: 40px;
}
.sub-desc{
    text-decoration: none;
    color: #64C8FF;
}
.sub-desc2{
    text-decoration: none;
    color: #F0AA00;

}
.sub-desc3{
    text-decoration: none;
    color: #8700ff;
}
.kinder{
    background-color: #DEF5FF;
    width: 350px;
    height: 450px;
    padding-left: 100px;
    padding-top: 50px;
    border-radius: 15px;

    
}

.elementary{
    background-color: #FFF4DC;
    width: 350px;
    height: 450px;
    padding-left: 100px;
    padding-top: 50px;
    border-radius: 15px;


}
 
.middle{
    background-color: #F2E8FF;
    width: 350px;
    height: 450px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    border-radius: 15px;

    
}

.buttons{
    width: 50px;
    height: 50px;
    color: white;
   background-color: #FEA301;
   border: none;
   border-radius: 100px;
   
}
.buttonn{
    margin-left: 680px;
    margin-top: 80px;
    margin-bottom: 80px;

}

.headd{
    font-size: 46px;
    font-weight: bold;
    justify-items: center;
    margin-left: -100px;
}
.imgg{
    width: 540px;
    height: 340px;
    margin-left: 100px;
    border-radius: 15px;
    margin-bottom: -10px;
}
.our-story{
    display: flex;
    background-color: #edd6af;
    padding-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
   
}
.our-stories2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 100px;
   
}
.iimge{
    width: 290px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: -10px ;
    margin-right: 40px;
    
    
}
.bb{
    margin-left: 100px;
}
.btn3{
    width: 175px;
    height: 50px;
    color: white;
   background-color: #3CD8E8;
   border: none;
   border-radius: 30px;
   margin-top: -100px;
   margin-left: 140px;
}
.para{
   font-size: 30px;
   margin-left: 120px;
}
.paraa{
    margin-left: 120px;
    color: #666666;
}
.btn4{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #F0AA00;
    border: none;
    border-radius: 30px;
    margin-top: -100px;
    margin-left: 40px;
    
}

.btn5{
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(222, 58, 112);
    border: none;
    border-radius: 30px;
    margin-top: -100px;
    margin-left: 40px;
}
.btn6{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #77950b;
    border: none;
    border-radius: 30px;
    margin-top: -100px;
    margin-left: 40px;

}
.btn7{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #5D58F0;
    border: none;
    border-radius: 30px;
    margin-top: -100px;
    margin-left: 40px;
    
}

.btn8{
    width: 200px;
    height: 50px;
    margin-left: -100px;
    margin-top: 100px;
    margin-bottom: 40px;
    color: white;
    background-color: black;
    border-radius: 20px;
}
.foot{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 80px;
    background-color: rgb(234, 126, 161);
}
.image-ttl{
    display: flex;
} 
.imagee{
    margin-left: 120px;
    padding-top: 150px;
    padding-right: 200px;
    color: white;
}
.ttl{
    font-size: 20px;
    padding-left: 10px;
}
.achors{
    text-decoration: none;
}
.achors{
    padding-top: 150px;
}

.last-title{
    font-size: 20px;
    color: #DEF5FF;
}
.a-tag{
    list-style: none;
    
}
.list{
    text-decoration: none;
    color: #DEF5FF;
    
}
.list1 {
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.list3{
    padding-top: 15px ;
    padding-bottom: 15px;
}

.last-foot{
    padding-left: 200px;
    padding-top: 150px;
}
.last-img{
    padding-left: 7px;
    padding-right: 7px;
}
.hhead{
    font-size:20px ;
    color: #DEF5FF;
    padding-left: 40px;
}
    
